body {
  background-color: lightgreen;
  overflow: hidden;
}

input[type=submit] {
  font-weight: bolder;
  font-size: 20px;
  height: 150px;
  width: 100px;
  background-color: lightgrey;
  border-color: grey;
  border-radius: 10px;
  overflow: hidden;
}
